<!DOCTYPE html>
<html>
  <head>
    <title>MessageboxServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= notice %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
