<!DOCTYPE html>
<html>
  <head>
    <title>MessageboxServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand page-header href="#">MessageBox</a>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </nav>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= notice %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
